<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>
</head>

<body>
  <% include partials/nav.ejs %>
  <p> Contact Success Page </p>
  <p> Thanks for getting in touch </p>
  <p> You contacted <%= data.who %>  in the <%= data.department %> department.</p>
  <p> We will respond to you via <%= data.email %> email. </p>

</body>

</html>
