<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Title of the document</title>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>

  <body>
    <% include partials/nav.ejs %>
    <p> Home Page </p>
  </body>

</html> 
